{{>layout/header.html}}
        <p>Bonjour {{name}},</p>

        <p>Vous venez d'être enregistré dans notre Base de Données en tant que Client.</p>
        <p>Exploiter notre plateforme c'est un :</p>
        <ul>
            <li> Un gain de temps : vos articles sont prêts dès votre arrivée </li>
            <li> Un gain d'argent : nous vous rappelons que vous pouvez obtenir à tout moment le status VFP </li>
            <li> Un gain d'amour  : nous aimons tous nos utilisateurs autant les uns que les autres ! </li>
        </ul>

        Pour toutes ces raisons nous vous félicitons :)
        <hr/>
        - Shoppo qui vous souhaite une excellente journée !
{{>layout/footer.html}}
